@{
    Layout = "_Layout";

    ViewData["Title"] = "Acesso Negado";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white mt-5">
                <div class="card-body">
                    <h1 class="card-title">Acesso Negado</h1>
                    <p class="card-text">Você não tem permissão para acessar esta página.</p>
                </div>
            </div>
        </div>
    </div>
</div>
